KERNEL_START_ADDR = 21400000
FLASH_BASE_ADDR = 0x20000000
KERNEL_OFFSET = 0x01400000
FLASH_ERASE_BLOCK_SIZE = 0x00010000
#
#flash layout start here
#BOOTLOADER, ROOTFS, KERNEL, WEBFS, BOOTLOADER_ENV
#

#
#Boot loader
#
BOOTLOADER_OFFSET = 0x00000000
BOOTLOADER_SIZE = 0x00100000

#
#nvram block
#
NVRAM_BLOCK_OFFSET = 0x00100000
NVRAM_BLOCK_SIZE =   0x00300000

#
#root fs
#
ROOTFS_OFFSET = 0x00400000
ROOTFS_SIZE =   0x01000000

#
#kernel
#
KERNEL_SIZE = 0x00300000

#
#web fs
#
WEBFS_OFFSET = 0x01700000
WEBFS_SIZE =   0x00840000

#
#all part
#
ALL_PART_OFFSET = 0x00000000
ALL_PART_SIZE =   0x01FC0000

#
#boot loader env
#
BOOTLOADER_ENV_OFFSET = 0x01FC0000
BOOTLOADER_ENV_SIZE = FLASH_ERASE_BLOCK_SIZE

FLASH_LAYOUT_FLAGS = -DKERNEL_START_ADDR=$(KERNEL_START_ADDR) \
-DFLASH_BASE_ADDR=$(FLASH_BASE_ADDR) \
-DBOOTLOADER_NAME=$(BOOTLOADER_NAME) \
-DBOOTLOADER_OFFSET=$(BOOTLOADER_OFFSET) \
-DBOOTLOADER_SIZE=$(BOOTLOADER_SIZE) \
-DNVRAM_BLOCK_OFFSET=$(NVRAM_BLOCK_OFFSET) \
-DNVRAM_BLOCK_SIZE=$(NVRAM_BLOCK_SIZE) \
-DROOTFS_OFFSET=$(ROOTFS_OFFSET) \
-DROOTFS_SIZE=$(ROOTFS_SIZE) \
-DKERNEL_OFFSET=$(KERNEL_OFFSET) \
-DKERNEL_SIZE=$(KERNEL_SIZE) \
-DWEBFS_OFFSET=$(WEBFS_OFFSET) \
-DWEBFS_SIZE=$(WEBFS_SIZE) \
-DALL_PART_OFFSET=$(ALL_PART_OFFSET) \
-DALL_PART_SIZE=$(ALL_PART_SIZE) \
-DBOOTLOADER_ENV_OFFSET=$(BOOTLOADER_ENV_OFFSET) \
-DBOOTLOADER_ENV_SIZE=$(BOOTLOADER_ENV_SIZE) \
-DFLASH_ERASE_BLOCK_SIZE=$(FLASH_ERASE_BLOCK_SIZE)

# [Note]-kernel
# export FLASH_LAYOUT_FLAGS, 
# it will be used in building kernel.
# You find it in Kernel\Host\$(Board)\linux\drivers\mtd\devices\Makefile
# 
# [Note]-Uboot
# export FLASH_LAYOUT_FLAGS, 
# it will be used in building uboot.
# You find it in BootLoader\Host\$(Board)\u-boot-1.1.4\config.mk
# 
export FLASH_LAYOUT_FLAGS
export FLASH_BASE_ADDR
export BOOTLOADER_NAME BOOTLOADER_OFFSEST BOOTLOADER_SIZE
export NVRAM_BLOCK_OFFSET NVRAM_BLOCK_SIZE
export ROOTFS_OFFSET ROOTFS_SIZE
export KERNEL_OFFSET KERNEL_SIZE
export WEBFS_OFFSET WEBFS_SIZE
export ALL_PART_OFFSET ALL_PART_SIZE
export BOOTLOADER_ENV_OFFSET BOOTLOADER_ENV_SIZE
export KERNEL_START_ADDR